{% extends "base.html" %} {% block content %}

<div class=" content-extention-4 ">
    <h1 class="text-center">
        <span class="yoursavings-title">Your</span><span class="yoursavings-title savings-spam">Savings</span>
    </h1>
    <div class="container-fluid text-center">
        <p class="text-center">
            <span class="yoursavings-title">Your</span><span class="yoursavings-title savings-spam">Savings</span> is a user-friendly platform designed to help you manage and track of your savings effortlessly. 
            Here, you can link your profile with your bank account, transfer funds to your main balance, and create different
            pots for everything you want to save. Once you reach your savings target, you can seamlessly transfer the money 
            back to your bank account. Whether you're saving for a vacation, a new gadget, or an emergency fund, <span class="yoursavings-title">Your</span><span class="yoursavings-title savings-spam">Savings</span>
            makes the process simple and organized.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a class="btn register-buttons text-white nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">Sign Up</a>
            </div>
            <div class="col-md-6">
                <a class="btn register-buttons text-white nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
