{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome, {{ profile.user.username }}</h1>
    <div class="text-center">
        <h2>Main Balance: ${{ profile.main_balance }}</h2>
    </div>
    <div class="mt-4">
        <h3>Your Saving Pots</h3>
        <ul class="list-group">
            {% for saving_pot in profile.saving_pots.all %}
                <li class="list-group-item">
                    <h4>{{ saving_pot.name }}</h4>
                    <p>Balance: ${{ saving_pot.balance }}</p>
                    <p>Created on: {{ saving_pot.created_on }}</p>
                </li>
            {% empty %}
                <li class="list-group-item">You have no saving pots.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}